@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin transition($property, $duration, $easing) {
    transition: $property $duration $easing;
  }
  