@media (min-width: 1025px) {
    .main-container {
      max-width: 1440px;
      margin: auto;
    }
  
    header {
      padding: 25px 0;
    }
  
    .hero h1 {
      font-size: 40px;
    }
  
    footer {
      display: flex;
      justify-content: space-between;
      .footer__title {
        font-size: 24px;
      }
    }
  }
  