//( mobile , tabletas) 

@media (min-width:1025px) {
    .hero h1{
      font-size: 40px;
    }
    .main-container {
      max-width: $max-width-container;
      width: 100%;
      margin: auto;
    }
  //fonctionnement
  .fonctionnement{
    display: flex;
    flex-direction: column;
    padding: 20px $padding-horizontal 50px ;
    h2 {
      font-size: $font-size-title;
    padding:9px;
    }
  }
  
  
  .fonction {
  
    flex-direction: row;
    justify-content: space-between;
  }
  
  .fonctionnement-fonction {
    width: 25%; 
   }
   .fonctionnement-fonction:hover{
    background-color: #F5EDFF;
   }
  
  // restuarant
  .restaurant{
    padding: 30px 9.6% 30px 10.6%;
  }
  .restaurant-card{
    row-gap: 4px;
    
  }
  .restaurant-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 98%;
  }
  .restaurant-card {
   
    transition: transform 0.7s ease; 
  }
  .restaurant-card:hover{
    transform: scale(1.02);
  }
  .link{
  padding-bottom: 30px;
    width: 47%;
  }
  
  
  
  .fa i,
  .logo-love i {
    font-size: $logo-love-font-size;
  }
  
  .logo-love i {
    -webkit-text-stroke: white 1px;
    position: absolute;
    right: $position-right;
    bottom: $position-bottom;
  }
  //footer
  
  
  footer {
    display: flex;
    flex-direction: row-reverse;
    height: $footer-height;
  
    .footer__title{
      width: auto;
    padding: 0px 30px 0px 40px;
      font-size: $footer-font-size;
      
    }
  
    ul {
      display: flex;
      justify-content: end;
      gap: $footer-gap;
    }
  }
  
  //loader
  .loader-container{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
   animation: fadeOut 4s;
   opacity: 1;
   visibility: hidden;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
      visibility: visible;
    }
    50%{
      opacity:0;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .loader {
    width: 80px;
    aspect-ratio: 1;
    box-shadow: 0 0 0 3px #9a5282 inset;
    border-radius: 50%;
    position: relative;
    animation: l11 7s infinite;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    top: calc(100% + 3px);
    left: calc(50% - 20px); 
    box-shadow: inherit;
    width: 40px; 
    aspect-ratio: 1;
    border-radius: 50%;
    transform-origin: 50% -45px; 
    animation: l11 1.5s infinite;
  }
  .loader:after {
    animation-delay: -0.75s;
  }
  @keyframes l11 {
    100% {
      transform: rotate(360deg);
    }
  }
  #page{
      animation: content-appear 3.5s ease-in-out both;
  }
  @keyframes content-appear {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  }