$color_1: inherit;
$color_2: #000;
$color_3: #f0f0f0;
$color_4: white;
$color_5: #9356DC;
$color_6: #278870;
$color_7: #fff;
$color_8: #99E2D0;

$font-family_1: sans-serif;
$font-family_2: "Shrikhand", cursive;
$font-family_3: "'Roboto', sans-serif";
$font-family_4: Roboto;
$font-family_5: "Shrikhand", cursive;

$background-color_1: transparent;
$background-color_2: whitesmoke;
$background-color_3: #99E2D0;
$background-color_4: #F5EDFF;
